<!-- footer start --------------------------------------------------------->
<footer>
  <nav>
    <ul>
      <li class="footer_nav_li"> Copyright (c) 2020 Copyright Holder All Rights Reserved. Traveller.com</li>
      <li class="footer_nav_li"><a href="/about">About </a></li>
      <li class="footer_nav_li"><a href="/contact">Contact </a></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li class="footer_nav_li"><a href="#"><img src="/assets/images/facebook.png" class="footer_fb"
            alt="facebook logo"> </a></li>
      <li class="footer_nav_li"><a href="#"><img src="/assets/images/twitter.png" class="footer_tw"
            alt="twitter logo"></a></li>
    </ul>
  </nav>
</footer>
<!--- footer end ---------------------------------------------------------->