<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <title>About</title>
  <link href="/assets/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Header start for About -->
  <%- include ('partials/header.ejs') %>
  <!-- Header end for About -->

  <!-- navigation start for About -->
  <%- include ('partials/navigation.ejs') %>
  <!-- navigation end for About -->

  <!-- main start for About -->
  <main>
    <section>
      <header>
        <h2> About Traveller</h2>
      </header>
      <article>

        <p>At Traveller we believe a life outdoors is a life well-lived.

          <p>We believe that it’s in the wild, untamed and natural places that
            we find our best selves, so our purpose is to awaken a lifelong love of the outdoors, for all.

            <p>Since 1938, we have been your local outdoor co-op, working to help you experience
              the transformational power of nature. We bring you top-quality gear and apparel,
              expert advice, rental equipment, inspiring stories of life outside and outdoor
              experiences to enjoy alone or share with your friends and family. And because
              we have no shareholders, with every purchase you make with Traveller, you are choosing
              to steward the outdoors, support sustainable business and help the fight for life outside.

              <p>So whether you’re new to the outdoors or a seasoned pro, we hope you’ll join us.
      </article>
    </section>
  </main>
  <!-- main end for About -->

  <!-- footer start for About -->
  <%- include ('partials/footer.ejs') %>

  <!-- footer end for About -->
</body>

</html>