<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>contact</title>
  <link href="/assets/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Header start for contact -->
  <%- include ('partials/header.ejs') %>
  <!-- Header end for contact -->

  <!-- navigation start for contact -->
  <%- include ('partials/navigation.ejs') %>
  <!-- navigation end for contact -->

  <!-- main start for contact -->
  <main>
    <section>
      <header>
        <h2> Contact us</h2>
      </header>
      <article>

        <p> xyz
          <p>xya area
            <p> abc city
              <p>phone number: 1234567890
      </article>
    </section>
  </main>
  <!-- main end for contact -->

  <!-- footer start for contact -->
  <%- include ('partials/footer.ejs') %>
  <!-- footer end for contact -->
</body>

</html>