<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Traveller</title>
  <link href="/assets/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Header start for index -->
  <%- include ('partials/header.ejs') %>
  <!-- Header end for index -->

  <!-- navigation start for index -->
  <%- include ('partials/navigation.ejs') %>
  <!-- navigation end for index -->

  <!-- main start for index -->
  <main>
    <section> 
      <header>
        <h2>The World Calls</h2>
      </header>
      <article>
        <p>The World Calls. Traveller was founded in 2002 after Trek president John Burke wanted to help active
          travelers see the world in a way they've never seen it before: on two wheels, and on their own terms.</p>
        <p>Since then, Trek Travel has evolved into the world’s premier cycling tour operator. Between their global team
          of guides (the best of the best, just take it from Inc. Magazine), top of the line Trek bikes and exclusive
          itineraries that “wow” every step of the way, Trek Travel takes guests to their dream destinations and
          delivers not just a holiday, but enables the cycling vacation of a lifetime to seamlessly unfold. </p>
        <p>From luxury to explorer and remote to scenic—Trek Travel has a journey to suit your style. Want to bump
          handlebars with some of the most beloved professionals of all time? Lucky for you, Trek Travel is the official
          partner of Trek-Segafredo, getting you VIP behind the scenes access to some of the biggest races on the
          calendar. </p>
        <p>Training for your best season ever? Check out our Connections page to browse our upcomming treks! </p>
        <p>And that’s just the start. </p>
      </article>
    </section>
  </main>
  <!-- main end for index -->

  <!-- footer start for index -->
  <%- include ('partials/footer.ejs') %>
  <!-- footer end for index -->
</body>

</html>