<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Alert</title>
  <link href="/assets/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!-- Header start for About -->
  <%- include ('partials/header.ejs') %>
  <!-- Header end for About -->

  <!-- navigation start for About -->
  <%- include ('partials/navigation.ejs') %>
  <!-- navigation end for About -->

  <!-- main start for About -->
  <main>
    <section>
      <header>
        <h2> You are not logged in</h2>
      </header>
      <article>

    </section>
  </main>
  <!-- main end for About -->

  <!-- footer start for About -->
  <%- include ('partials/footer.ejs') %>

  <!-- footer end for About -->
</body>

</html>